.Rectangle {
    width: 550px;
    height: 90px;
    /* margin: 38px 40px 30px 150px; */
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    display: flex;
    justify-content: end;
}

.Rectangle-2 {
    width: 68px;
    border-radius: 6px;
    box-sizing: content-box;
    display: flex;
    background-color: rgba(96, 96, 96, 0.06);
    align-items: center;

}