<div class="responsive-card" style="margin: 1rem 0 0 5rem;">
    <div class="Rectangle">
        <a href="{{story_url}}" target="_blank" class="story-link">
            <div>
                <fa-icon [icon]="clock" [border]="false"></fa-icon>
                {{timeAgo}} {{author}}
            </div>
            {{story_title}}
        </a>

        <div class="Rectangle-2">
            <a (click)="toggleFavItem()" style="cursor: pointer;">
                <fa-icon [icon]="icon" size="3x" [styles]="{'stroke': 'red', 'color': 'red', 'border':'1px'}"
                    [border]="true">
                </fa-icon>
            </a>


        </div>
    </div>
</div>