nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 4px;
}

a {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    width: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    border: solid 1px #d9d9d9;
}

a.current {
    background-color: #1890ff;
    color: #fff;
    font-weight: 700;
}

a.more:hover,
a.current {
    cursor: default;
    text-decoration: none;
}

button {
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #d9d9d9;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 18px;
    color: #1890ff;
    padding: 8px 16px;


}