<div class="flex">
    <app-switch-button class="center" (favSelected)="onFavSelected($event)">
    </app-switch-button>
    <app-select class="margin-select" (itemSelected)="onSelect($event)"></app-select>
    <div *ngIf="hits" class="grid">
        <app-card *ngFor="let hit of hits " [hit]="hit"></app-card>
    </div>
    <app-paginator class="center" style="margin-top: 5rem;" [current]="currentVisualPage" [total]="totalPages"
        (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)"></app-paginator>
</div>